body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 25px 0;
  border-bottom: 1px solid #6eb0d3;
}
.square {
  width:200px;
    height:100px;
    background:blue;
}

button

{
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border: #fff;
  background-color: #fff;
  cursor: pointer;

}

.menu-style
{
  display:contents;
  position: absolute;
  right: 0;
  background-color: #ff0000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-style a{
  color:  #C4C4C4;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.menu-style a:hover{
  color: 
  #3D82EB;
}
.menu 
{
position: relative;
display: inline-block;
}

.menu:hover.menu-style{
  display: block;
}
.menu:hover.dropbtn{
  background-color: #ffffff;
}
.dropbtn{
  background-color: #ffffff;
color: rgb(0, 0, 0);
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}


.container {
  width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
  margin-bottom: 40px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container .logo {
  width: 100px;
  line-height: 21px;
  color: #323232;
  font-size: 20px;
  left: 60px;
  cursor: pointer;
  font-weight: bold;
  position: relative;

}

.header .container .form {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.header .container .form input {
  width: calc(100% - 145px);
  height: 40px;
  text-indent: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;
  transition: 0.2s border;
}

.header .container .form input:focus {
  border: 1px solid #12c0dd;
}



.btn-add {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 15px;
  border: 2px solid #3D82EB;
  background-color: #ffffff;
  color: #3D82EB;
  outline: none;
  position: relative;
  
}
.create-itemtxt
{
  color: #3D82EB  ;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;  
  position:relative;
  left: 0%; 
  
}



.mask-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #fff;
}

/* ТЕНЬ .mask-list.complete-list li {
  border-left-color: #999;
  opacity: .5;
} */
.mask-list {
    padding-left: 0;
}

input[type="checkbox"] + span {  
  padding-left: 10px;
  border-radius: 19px;
  
}
.btn-circle {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 13px;
  border: 2px solid #EB3D3D;
  background-color: #ffffff;
  color: #EB3D3D;
}
.inputNew{
  
  border-radius: 10px 10px 10px 10px;;
  border-color:#3D82EB ;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked){
   position: absolute;
   z-index: 1;
   opacity: 0;
   width: 20px;
   height: 20px;
   margin-top: 6px;
   border-radius: 19px;
  
   
}
input[type="checkbox"]:checked + span,
input[type="checkbox"]:not(:checked) + span{
   position: relative;
   padding-left: 35px;
   cursor:pointer;
   border-radius: 19px;
   
}
input[type="checkbox"]:checked + span{
  text-decoration: line-through;
  border-radius: 19px;
}
input[type="checkbox"]:checked + span::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border-radius: 2px;
   border: 2px solid #4fc1de;
   border-radius: 19px;
   text-decoration: line-through;
  
   
}
input[type="checkbox"]:checked + span::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 1;
   left: 4px;
   top: calc(50% - 6px);
   background-color: #4fc1de;
   border-radius: 19px;
   text-decoration: line-through;

}
input[type="checkbox"]:not(:checked) + span::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border-radius: 2px;
   border: 2px solid #5d575f;
   border-radius: 19px;
   text-decoration: line-through;
   
}
